
header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #fcb3a4;
  align-items: center;
}

.site-nav li{
  list-style: none;
}

nav ul{
  display: flex;
}

.site-nav a{
  color: white;
  font-family: 'Varta', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 20px;
}

.site-nav a:hover{
  color: #ff9203;
}

.itinerary{
display: flex;
width: 100%;
align-items: center;
flex-direction: column;
background-image: url('images/IMG_5513.jpeg');
backface-visibility: 50%;
background-repeat: no-repeat;
background-size: 120%;
padding-bottom: 200px;
}

.listitems{
text-align: left;
font-family: 'Varta',sans-serif;
color: white;
background-color: rgba(0,0,0,.2);
padding: 60px 100px;
}

.listitems dl:hover dt{
  color: #ffbdb0;
}

.itinerary h1,h2{
  font-family: 'Bilbo Swash Caps', cursive;
  color: white;
}

h1{
  padding-top: 20px;
  font-size: 250%;
}

h2{
  padding-bottom: 20px;
  font-size: 150%;
}

dt{
  font-weight: bolder;
  font-size: 110%;
}

dd{
  font-size: 90%;
}
